
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    overflow: hidden;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    

}
.box{
    margin-left:40%;
   text-align: center;
   width: 100px;
   height:70px;
   border:2px solid white;
   border-radius: 0 0 15px 15px;
   background: white;
   padding: 0 40px;
   color: hsl(270, 100%, 60%);
   box-shadow:0px 1px #888888;

}
.box1{
   color: yellow;
   text-align: center;
   font-size: 12px;
   border: 1px solid rgb(56, 12, 56);
   width: 25px;
   margin-top: 8px;
   margin-left: 33px;
   border-radius: 4px;
   background: hsl(270, 100%, 60%);
   margin-bottom: 10px;
}
nav{
   color: #888888;
   padding-top: 20px;
   padding-left: 100px;
}
nav a{
   text-decoration: none;
   color: #888888;
}
nav a.active{
    font-weight: bold;
}
nav a:hover{
  color: yellow;
  border-bottom: 2px solid yellow;
}
nav ul li{
   display: inline;
   font-size: 10px;
   padding: 15px;
}
.inpt{
float: right;
margin-right: 140px;
border: 1px solid #e4e4e4;;
color: #888888;
padding: 4px;
border-radius: 4px;
background-color: #e4e4e4;
}
.layout{
display: inline-flex;
}
.layout-1{
margin-left:10%;
margin-top: 20%;
}
.layout-1 .picture img{
width: 200px;
height: 250px;
border-radius: 10px;
}
.layout-2{
width: 300px;
margin-top: 22%;
font-size: 15px;
margin-left: 10%;
}
.layout-2 p{
display:contents;   
}
.layout-3{
margin-top: 22%;
font-size: 15px;
margin-left: 70%;
}
.layout-3 p{
width: 10px;
height: 10px;
background-color: blue;
color: yellow;
align-content: center;
padding: 20px;
border-radius: 0 0 0 100px;
}
.images{
margin-top: 55px;
}

.grid-layout{
padding-left: 6%;
padding-top: 10px;
display: inline-flex;
}
.grid1, .grid2, .grid3, .grid4, .grid5{
width: 150px;
height: 150px;
border-radius: 15px;
margin-left: 30px;
background: white;
box-shadow: 0px 2px #dad6d6;
}
.pic{
width: 180px;
height: 100px;
}
.text{
padding: 10px 0  0 10px;
color: black;
font-size: 8px;
width: 150px;
height:80px;

}
.plus{
padding-left: 30px;
padding-top: 10px;
width: 20px;
height: 40px;
background: hsl(270, 100%, 60%);
color: yellow;
align-content: center;
border-radius: 0 0 0 80px;
}
@media only screen and (min-width: 1200px)
{
.layout-1{
margin-left: 20%;
margin-top: 20%;
}
} 

@media only screen and (max-width: 768px)
{
nav{
margin-top: 20px;
margin-left: 90px;
width: 100%;
}
.inpt{
float: none;
margin-top: 20px;
}
.layout{
padding:0;
margin: 0;
}
.layout-1 .picture img{
height: 250px;
width: 150px;
}
.layout-2 h1{
font-size: 12px;
}
.layout-2 p{
font-size:8px;
}
.layout-3{
margin-top: 22%;
font-size: 15px;
margin-left: 5%;
}
.layout .images{
display: inline-flex;
}
.layout .images img{
padding: 3px;
}
.grid-layout{
padding-top: 50px;
padding-left:30%;
display: block;
width: 100%;
}
.grid-layout .grid{
margin-bottom: 10px;
}
}